@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

* {
    font-family: Roboto;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin-bottom: 0;
}

a, a:hover {
    text-decoration: none;
    color: unset;
}

p {
    margin: 0;
}

.global-container {
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}